<div
  class="d-flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <div class="card p-5">
    <h3 class="text-center text-primary font-weight-bold">Reset Password</h3>
    <form
      id="resetPasswordForm"
      novalidate
      method="POST"
      class="form-container"
    >
    <div class="spinner-border text-primary centered" id="spinner" role="status">
    </div>
      <div class="form-group my-3">
        <label for="password" class="form-label">New Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          id="password"
          data-pristine-required-message="Password Required"
          data-pristine-minlength="8"
          required
        />
      </div>
      <div class="form-group mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          name="confirmPassword"
          required
          class="form-control"
          data-pristine-required-message="Please Confirm Password"
        />
      </div>
      <button type="submit" class="btn btn-primary" id="reset-btn">Reset</button>
    </form>
  </div>
</div>
<script src="js/pristine.js"></script>
<script src="js/resetPasswordScript.js"></script>
