<div
  class="d-flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <div class="card p-5">
    <form id="resendForm" method="POST">
        <p>Account not verified.Verification Email has been sent to you</p>
        <button type="submit" class="btn btn-primary" id="btn">Resend Email</button>
    </form>
  </div>
</div>
<script src="js/resendEmail.js"></script>
